*{
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
}
.hero{
    background-color: #1f2937;
    padding: 10px 0px 40px 0px;
}
.logo img{
    height: 50px;
    width: auto;
}
.links{
    align-self: left;
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.link,
.placeholder p,
h2{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.second-header{
    margin: 20px 15%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-header .content{
    width: 50%;
    padding: 10px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding-bottom: 40px;
}
.placeholder img{
    height: 23.5vi;
    width: auto;
    border-radius: 20px;
}
h2{
    padding: 5px;
    font-weight: 100;
}
button{
    padding: 15px 40px;
    background-color: #2d7be7;
    color: #e5e7eb;
    font-weight: 550;
    border-radius: 10px;
    border-color: #2d7be7;
    margin-top: 20px;
    font-size: large;
    cursor: pointer;
}
button:hover{
    color: #2d7be7;
    background-color: #e5e7eb;
    border-color: #ff0000;
}
.white-page{
    margin: 0px;
    padding: 0px;
    background-color: white;
    
}
.dogodki-items{
    display: flex;
    justify-content: center;
}
.white-page .dogodki-naslov h1{
    color: #1f2937;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

}

.dogodek{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogodki-items img{
    width: 200px;
    height: auto;
    border-radius: 10%;
    border: 5px solid #2d7ff1;
}
.dogodek h5{
    padding: 5px 5%;
    text-align: center;
    font-weight: 100;
    font-size: medium;
}
.dogodek h2{
    color: #1f2937;
}
@media screen and (max-width: 600px)
 {
    .logo img{
        margin-bottom: 15px;
    }
    .dogodki-items{
        display: block;
        justify-content: center;
    }   
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15%;
        }
        .second-header{
            display: block;
        }
        .second-header .content{
            width: 100%;
            padding: 10px;
        }
        .placeholder img{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
        .white-page .dogodki-naslov h1{
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .white-page .dogodki-naslov{
            width: 80%;
            text-align: center;
            margin: 20px 10%;
        }
        .dogodek{
            margin: 40px 0px;
            border-bottom: 2px solid #1f293733;
        }
        .dogodek h5{
            width: 60%;
        }
        .content{
            text-align: center;
        }
 }
