*{
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
}
.hero{
    background-color: #1f2937;
    padding: 10px 0px 40px 0px;
}
.logo img{
    height: 50px;
    width: auto;
}
.links{
    align-self: left;
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.link,
.placeholder p,
h2{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.second-header{
    margin: 20px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-header .content{
    width: 50%;
    padding: 10px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding-bottom: 40px;
}
.placeholder img{
    height: 23.5vi;
    width: auto;
    border-radius: 20px;
}
h2{
    padding: 5px;
    font-weight: 100;
}